@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Hammersmith+One&display=swap");

div {
  color: white;
}

.coin {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #151515;
  margin: 20px auto;
  border-radius: 25px;
  text-align: left;
  max-width: 60vw;
  font-family: "Hammersmith One", sans-serif;
  font-size: 17px;
}

.coin:hover {
  box-shadow: 0px 4px 75px 0px rgb(255, 172, 70);
  transform: scale(1.1);
  cursor: pointer;
}

.coin img {
  height: 50px;
}

.coin div {
  padding-left: 10px;
  position: relative;
  width: 16.6%;
}

.red {
  color: rgb(255, 34, 34);
}

.green {
  color: rgb(0, 204, 0);
}
