.left-side-bar {
  position: fixed;
  margin-top: 66px;
  overflow: auto;
  height: 95vh;
  width: 400px;
}

.left-side-bar::-webkit-scrollbar {
  display: none;
}

.shortcuts h3 {
  margin-left: 20px;
  color: gray;
}

.shortcuts {
  margin-bottom: 20px;
}
